
/*************CSS CON FLEXBOX*************/

/****************HEADER*****************/
nav {
  padding: 20px;
  background-color: black;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap : wrap;
}

nav li {
  text-align: center;
  flex-grow: 1;
}

nav li a {
  display: block;
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background: #FAA673;
  color: white;
}

/*************SECTION Y MAIN************/

section {
  display: flex;
  flex-wrap: wrap;
}
div {
  flex-grow: 1;
  margin: 10px;
}

img {
  width: 100%;
}

h1{
  text-align: center;
}

/**************FOOTER************/
ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

footer {
  background-color: white;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.caja {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: black;
}

.item {
  padding: 10px;
}
.titulo {
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="email"] {
  border: 0;
  padding: 10px;
  margin-top: 10px;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  border: 0;
  padding: 10px;
  margin-top: 10px;
}

* {
  font-family: verdana;
}
