
/**************CSS CON POSICIONAMIENTO BASICO****************/
/**************HEADER***********/
* {
  font-family: Verdana;
}

nav {
  padding: 10px;
  background-color: black;
}
nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  display: block;
  color: white;
  padding: 10px 50px 10px 10px;
}
  
nav li a:hover {
  background: #FAA673;
  color: white;
}

/***********************CUERPO*****************************/
.imagen1 {
  float: right;
  
}
.principal{
  margin: 10px;
}
.imagen2 {
  float: left;
  margin: 10px;
}
.imagen3 {
  float: right;
  margin: 10px;
}

/**************footer************/
.item {
  display: inline-block;
  margin: 20px;
  vertical-align: top;
}
.lista1 {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
footer {
  background-color: white;
  color: white;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
.caja {
  background-color: black;
}
input[type="email"] {
  border: 0;
  padding: 10px;
  margin-top: 10px;
}
input[type="submit"] {
  background-color: #00d188;
  color: #fff;
  border: 0;
  padding: 10px;
  margin-top: 10px;
}

